:root {
    /* Fonts */
    --font-primary: "Open Sans", sans-serif;
    --font-secondary: 'Inter', sans-serif;



    /* Fontgroottes in em */
    --font-size-small: 1em;
    /* 16px */
    --font-size-medium: 1.25em;
    /* 20px */
    --font-size-large: 3.125em;
    /* 50px */

    /* Primary colors */
    --color-yellow: #FFC917;
    /* Wit */
    --color-blue: #003082;
    /* Donker */
    --color-light-blue: #0063D3;
    /* Basis paars */
    --color-white: #E7D4F8;
    /* Licht paars */

    /* Shades of gray */
    --grey-body-text: #070721;
    --grey10: #202037;
    --grey20: #39394D;
    --grey30: #515164;
    --grey40: #6A6A7A;
    --grey50: #838390;
    --grey60: #9C9CA6;
    --grey70: #B5B5BC;
    --grey80: #CDCDD3;
    --grey-background: #E6E6E9;
    --grey94: #F0F0F2;

    /* error colors */
    --color-red: #DB0029;
    --color-green: #009A42;


    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 300 800;
        font-stretch: 100%;
        font-display: swap;
    }
}



* {
    margin: 0;
}

nav {
    height: 60px;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 20px; */
}

nav svg {
    margin-left: 2.5vw;
    height: 25px;
    fill: var(--color-blue);
    transition: 0.1s ;
}

nav svg:hover  {
    fill: var(--color-yellow);

}

.nav-icons {
    display: flex;
    margin-right: 2vw;
}

.nav-icons img {
    cursor: pointer;
}

section:first-of-type {
    height: 200px;
    width: 100vw;
    background-color: #0063D3;
    background-image: linear-gradient(45deg,  rgb(19, 19, 121) 30%, rgba(32, 32, 128, 0.8)  60%, rgba(246, 246, 255, 0)),
        url('/assets/backgroundimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}

@media screen and (min-width: 768px) {
    section:first-of-type {
        height: 300px;
    }
}

/* Voor desktops: verhoog de hoogte naar 600px */
@media screen and (min-width: 1024px) {
    section:first-of-type {
        height: 350px;
    }
}

section:first-of-type > h2 {
    margin-left: 2.5vw;
    color: white;
    font-family: var(--font-primary);
    font-weight: 600;
}


@mediaq