:root {
    /* Fonts */
    --font-primary: "Open Sans", sans-serif;
    --font-secondary: 'Inter', sans-serif;

    /* Fontgroottes in em */
    --font-size-small: 1em;
    /* 16px */
    --font-size-medium: 1.25em;
    /* 20px */
    --font-size-large: 3.125em;
    /* 50px */

    /* Primary colors */
    --color-yellow: #FFC917;
    /* Wit */
    --color-blue: #003082;
    /* Donker */
    --color-light-blue: #0063D3;
    /* Basis paars */
    --color-white: #E7D4F8;
    /* Licht paars */

    /* Shades of gray */
    --grey-body-text: #070721;
    --grey10: #202037;
    --grey20: #39394D;
    --grey30: #515164;
    --grey40: #6A6A7A;
    --grey50: #838390;
    --grey60: #9C9CA6;
    --grey70: #B5B5BC;
    --grey80: #CDCDD3;
    --grey-background: #E6E6E9;
    --grey94: #F0F0F2;

    /* error colors */
    --color-red: #DB0029;
    --color-green: #009A42;


    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 300 800;
        font-stretch: 100%;
        font-display: swap;
    }
}


* {
    margin: 0;
}

h1,
h2,
h3,
p,
label {
    font-family: var(--font-primary);
}

p,
label {
    font-weight: 350;
    font-size: 0.9em;
}

/* 
//////////////////////////////////////////////////////////
---------------------✨✨✨ NAV ✨✨✨---------------------
/////////////////////////////////////////////////////// */

nav {
    height: 60px;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 20px; */
}

nav svg {
    margin-left: 2.5vw;
    height: 25px;
    fill: var(--color-blue);
    transition: 0.1s;
}

nav svg:hover {
    fill: var(--color-yellow);

}

.nav-icons {
    display: flex;
    margin-right: 2vw;
}

.nav-icons img {
    cursor: pointer;
}


/* 
//////////////////////////////////////////////////////////
---------------------✨✨✨ BANNER ✨✨✨---------------------
/////////////////////////////////////////////////////// */

section:first-of-type {
    height: 200px;
    width: 100vw;
    max-width: 100vw;
    background-color: #0063D3;
    background-image: linear-gradient(45deg, rgba(0, 48, 130, 0.9) 30%, rgba(246, 246, 255, 0)),
        url('/assets/backgroundimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;


}

@media screen and (min-width: 768px) {
    section:first-of-type {
        height: 300px;
    }
}

/* Voor desktops: verhoog de hoogte naar 600px */
@media screen and (min-width: 1024px) {
    section:first-of-type {
        height: 350px;
    }
}

section:first-of-type>h1 {
    margin-left: 5vw;
    font-size: 2em;
    color: white;
    font-family: var(--font-primary);
    font-weight: 600;
}


/* 
//////////////////////////////////////////////////////////
---------------------✨✨✨ FORM ✨✨✨---------------------
/////////////////////////////////////////////////////// */
/* form */
form {
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

/* all fieldsets */
fieldset {
    border-bottom: 5px;
    border-left: 5px;
    border-right: 0px;
    margin: 0;
    padding: 0;
    width: 95%;
}

/* all legends */
legend {
    font-family: var(--font-primary);
}

/* all labels */
label {
    display: block;
    /* Zorgt ervoor dat de label boven de input komt */
    margin-bottom: 0.5em;
    text-align: left;
    position: relative;
    /* Ruimte tussen label en input */
}

/* main fieldset */
.main-fieldset {
    border: none;
    display: flex;
    /* background-color: purple; */
    padding: 10% 5%;
    max-width: 1200px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 6em;
    margin: 0 5vw;
}

/* legend in main fieldset */
.main-fieldset>legend {
    font-size: 1.4em;
    color: var(--color-blue);
    font-weight: 400;
}

/* inputs in 1a and 1d */
.main-fieldset .fieldset-1a,
.fieldset-1d-2 input {
    border: none;
    gap: 100px;
    width: 100%;
    max-width: 1200px;
}



.fieldset-1a input,
.fieldset-1d-2 input {
    width: 90%;
    /* min-width: 300px; */
    padding: 8px;
    border: 1px solid var(--grey50);
    border-radius: 5px;
    height: 1.9em;
}

/* Voor grotere schermen (tablet en desktop) */
@media (min-width: 725px) {
    label {
        display: flex;
        align-items: center;
        gap: 10%;
        /* Ruimte tussen label en input */
    }

    label span {
        width: 120px;
        /* Zorgt ervoor dat alle labels even breed zijn */
        text-align: left;
        /* Optioneel: Uitlijning van tekst */
    }

    input {
        width: 90%;
        max-width: 400px;
    }
}

.melding {
    margin-top: 1.5em;
    background-color: #2189ff49;
    /* height:3em; */
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border-left: 4px solid var(--color-light-blue);
    align-self: flex-start;
    /* margin-bottom: 1em; */
}

.main-fieldset>p:first-of-type {
    align-self: flex-start;
    margin-top: 0.8em;
    background-color: #4caf50;

}

/* uitklap vragen */

.fieldset-1b-2 {
    display: none;
}

body:has([value="ja-1b-a"]:checked) .fieldset-1b-2 {
    display: block;
}



.fieldset-1c-2,
.fieldset-1c-3,
.fieldset-1d-2 {
    display: none;
}


body:has([value="ja-1c-a"]:checked) .fieldset-1c-2 {
    display: block;
}

body:has([value="ja-1c-b"]:checked) .fieldset-1c-3 {
    display: block;
}

body:has([value="ja-1d-a"]:checked) .fieldset-1d-2 {
    display: block;
}

.radio-btn-container {
    /* background-color: #009A42; */
    display: flex;
    gap: 5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.radio-btn-container label input {
    width: 3vw;
    aspect-ratio: 1;
    margin-right: 10px;
    background-color: var(--color-green);
    accent-color: var(--color-blue);

}

/* validation */
/* Style alle required velden */
input:required::after {
    content: "=";
    position: absolute;
    border: 2px solid #d7c2be;
    /* Roodachtige rand */
    background-color: #fff5f5;
    /* Lichtrode achtergrond */
    accent-color: var(--color-blue);
    bottom: 50%;
}


input:required:user-valid ::after {
    content: "hoi";
    position: absolute;
    left: 50%;
}

/* Specifieke stijl als het veld leeg is en niet valid */
input:required:user-invalid {
    border-color: #e63946;
}

/* Specifieke stijl als het veld correct is ingevuld */
input:required:user-valid {
    border-color: #4caf50;
    /* Groen als correct */
}





input {
    padding: 10px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Correct ingevuld */
input:valid {
    border-color: green;
}

label:has(input:valid)::after {
    content: '✔️';
    position: absolute;
    right: 10px;
    top: 10px;
}

/* Fout ingevuld */
input:invalid {
    border-color: red;
}

label:has(input:user-invalid)::after {
    content: '❌';
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: yellow;
}